<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>汇融拍卖</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link href="./css/common.css" type="text/css" rel="stylesheet">
    <link href="./css/index.css" type="text/css" rel="stylesheet">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/mint-ui@1/lib/style.css">
    <style type="text/css">
        /*防止刷新页面出现vuejs变量名称*/
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="all-list-all">
<!--顶部搜索+筛选-->
<div class="fix-top" id="choose">
    <div class="common-head">
        <i class="go-back" onclick="javascript:history.back(-1);"></i>
        <h1>全部</h1>
        <div class="search">
            <a href="/auction/auction/search.html" class="jump-search">请输入拍品名称</a>
        </div>
    </div>
    <div class="choose">
        <ul class="choose-condition f-box">
            <li data-number="0" class="condition-item flex-item"> 全部类型<i></i></li>
            <li data-number="0" class="condition-item flex-item">所在地区<i></i></li>
            <li data-number="0" class="condition-item flex-item">条件筛选<i></i></li>
        </ul>
    </div>
</div>
    <!--筛选弹窗-->
<div class="choose-min-1" style="display: none">
    <ul class="all-list choose-item" style="display: none">
        <li v-for="types in type" :id="types.id" @click="getAll">
            <span>{{types.name}}</span>
            <em>{{types.co}}</em>
        </li>
    </ul>
    <div class="choose-item" style="display: none">
        <ul class="place-list">
            <!--点击获取二级城市-->
            <li class="place-list-li" v-for="item in getCitys" :id="item.id" @click="choosecity">
                <div class="place-left">
                    <span>{{item.cityName}}</span>
                    <!--<em>({{cityList.id}})</em>-->
                </div>
            </li>
        </ul>
        <ul class="second-menu">
            <!--点击获取二级城市下的数据-->
            <li v-for="courtLists in choosecitys" :id="courtLists.id" @click="getNew">
                <span>{{courtLists.cityName}}</span>
                <em>{{courtLists.co}}</em>
            </li>
        </ul>
    </div>

    <ul class="condition-list choose-item" style="display: none">
        <li class="one-buy hot-search">
            <h1>拍卖方式</h1>
            <ul class="clearfix" style="font-size: 0;">
                <li id="1"  @click="getMode">首拍</li>
                <li id="2" @click="getMode">二拍</li>
                <li id="3" @click="getMode">三拍</li>
                <li id="4" @click="getMode">四拍</li>
                <li id="5" @click="getMode">五拍</li>
            </ul>
        </li>
        <li class="two-buy hot-search">
            <h1>购买方式</h1>
            <ul class="clearfix">
                <li id="1"  @click="getpurchase">不限购</li>
                <li id="2"  @click="getpurchase">可贷款</li>
            </ul>
        </li>
        <li class="three-buy hot-search">
            <h1>状态</h1>
            <ul class="clearfix">
                <li id="1"  @click="getstatus">还未开始</li>
                <li id="2"  @click="getstatus">进行中</li>
                <li id="3"  @click="getstatus">已结束</li>
            </ul>
        </li>
        <div class="choose-button f-box">
            <div class="flex-item clear-active">清除</div>
            <div class="flex-item choose-sure" @click="sureDate">确定</div>
        </div>
    </ul>
</div>
    <mt-loadmore :bottom-method="loadBottom"  ref="loadmore"  @bottom-status-change="handleBottomChange">
        <ul class="hote">
            <li v-for="lists in list" class="clearfix">
                <a v-bind:href="lists.goodsUrl">
                    <img v-bind:src="lists.img">
                    <div class="desc">
                        <div class="title over-two" v-text="lists.goodsName"></div>
                        <div class="pic over">起拍价格：<em v-text="lists.price"></em><i>元</i></div>
                        <div class="time over"><em>开始时间：</em>{{timeForamt(lists.goodsDates)}}</div>
                    </div>
                </a>
            </li>
        </ul>
    </mt-loadmore>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script>
    //获取url上面的参数，有类似方法getQueryString
    function getPar (par) {
        //获取当前URL
        var local_url = document.location.href;
        //获取要取得的get参数位置
        var get = local_url.indexOf(par + '=');
        if (get == -1) {
            return false;
        }
        //截取字符串
        var get_par = local_url.slice(par.length + get + 1);
        //判断截取后的字符串是否还有其他get参数
        var nextPar = get_par.indexOf('&');
        if (nextPar != -1) {
            get_par = get_par.slice(0, nextPar);
        }
        return get_par;
    };
    var searchKey = getPar("searchKey");
    var cityId = getPar("cityId");
    var goodsType = getPar("goodsType");
    var typeId = getPar("typeId");
</script>
<script type="text/javascript" src="js/all-vue.js"></script>
</body>
</html>