<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>汇融拍卖</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link href="./css/common.css" type="text/css" rel="stylesheet">
    <link href="./css/index.css" type="text/css" rel="stylesheet">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/mint-ui@1/lib/style.css">
    <style type="text/css">
        /*防止刷新页面出现vuejs变量名称*/
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app-index">
    <!--顶部搜索-->
    <div class="head">
        <h1>汇融拍卖</h1>
        <div class="search">
            <a href="/auction/auction/search.html" class="jump-search">请输入拍品名称</a>
        </div>
    </div>
    <!--首页小图标菜单-->
    <ul class="menu clearfix">
        <li v-for="todo in subjects" v-bind:id="todo.id">
            <div>
                <a v-bind:href="'/auction/auction/all.html?cityId=&goodsType=&searchKey=&typeId=' + todo.id ">
                    <img v-bind:src="todo.logo" v-bind:alt="todo.name">
                    <span v-text="todo.name"></span>
                </a>
            </div>
        </li>
    </ul>
    <!--法院拍卖-->
    <div class="court">
        <div class="court-left">
            <div v-on:click="showSearch">
                <img src="img/court.png">
            </div>
        </div>
        <div class="court-right">
            <div class="court-right-1">
                <a href="/auction/auction/all.html?cityId=&typeId=&searchKey=&goodsType=2">
                    <img src="img/gongyi.png">
                </a>
            </div>
            <div class="court-right-2">
                <a href="/auction/auction/all.html?cityId=&typeId=&searchKey=&goodsType=3">
                <img src="img/yishu.png">
                </a>
            </div>

        </div>
    </div>
    <!--海关拍卖-->
    <div class="entrust clearfix">
        <div class="customs">
            <a href="/auction/auction/all.html?cityId=&typeId=&searchKey=&goodsType=4">
                <img src="img/customs.png">
            </a>
        </div>
        <div class="society">
            <a href="/auction/auction/all.html?goodsType=5">
                <img src="img/society.png">
            </a>
        </div>
    </div>
    <!--热门标的-->
    <div class="hote-top">
        <img src="img/hote.png">
        <a href="all.html?typeId=&cityId=&typeId=&goodsType=&searchKey=">查看更多</a>
    </div>
    <mt-loadmore :bottom-method="loadBottom" ref="loadmore">
        <ul class="hote">
            <li v-for="lists in list" class="clearfix">
                <a v-bind:href="lists.goodsUrl">
                    <img v-bind:src="lists.img">
                    <div class="desc">
                        <div class="title over-two" v-text="lists.goodsName"></div>
                        <div class="pic over">起拍价格：<em v-text="lists.price"></em><i>元</i></div>
                        <div class="time over"><em>开始时间：</em>{{timeForamt(lists.goodsDates)}}</div>
                    </div>
                </a>
            </li>
        </ul>
    </mt-loadmore>
    <!--搜索-->
    <div class="indx-search" v-bind:class="{ show:isShow }">
        <!--法院拍卖-->
        <div class="court-page">
            <div class="common-head">
                <i class="go-back" v-on:click="hideSearch"></i>
                <h1>法院拍卖</h1>
            </div>
            <div class="hot-search">
                <ul class="clearfix">
                    <li v-for="item in hotSearch" v-bind:data-id=item.id>
                        <a class="over" v-bind:href="'/auction/auction/court.html?cityId=' + item.id " v-text="item.cityName"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/index-vue.js"></script>
</body>
</html>